@import "variables";

.custom-badge{
  display: flex;
  align-items: center;
  border: 1px solid $primary;
  padding-top: 6px;
  padding-bottom: 6px;

  &.custom-badge-primary{
    color: $primary;
    border-color: $primary;
  }

  &.custom-badge-success{
    color: $success;
    border-color: $success;
  }

  &.custom-badge-warning{
    color: $warning;
    border-color: $warning;
  }

  &.custom-badge-danger{
    color: $danger;
    border-color: $danger;
  }
}