html {
  font-size: 12px;
}

:root {
  --primary: #04293f;
  --primary-transparent: rgba(9, 28, 82, 0.5);
  --success: #4cd137;
  --success-dark: #1e8449;
  --danger: #fe5b5f;
  --white: #fff;
  --dark-background-1: #222222;
  --dark-background-2: #161616;
  --dark-background-border: #303030;
  --dark-text: #ababab;
  --dark-input-border: #3b3b3b;
}

input[type="radio"] {
  accent-color: var(--primary);
}

.pro-menu-item {
  font-size: 1rem !important;
}

body {
  word-wrap: break-word;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #e0e0e0;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #b0b0b0;
  border-radius: 10px;
  border: 2px solid #e0e0e0;
}
::-webkit-scrollbar-thumb:hover {
  background: #909090;
}
